@page "/Acerca_de"


<h1>Perfil</h1>

<div class="perfil-container">
    <img src="images/Wikelson.jpg" alt="" width="250" height="300">
    
    <div class="perfil-text">
        <strong>Estudiante:</strong> Wikelson Diaz Alcantara<br><br>
        <strong>Matricula:</strong> 2023-0974
    </div>
</div>

<div class="text-center">
    <a class="btn btn-secondary botonWhatsapp" target="_blank" href="https://wa.me/8498471061?text=Hola%20te%20contacto%20para%20un%20trabajo%20bueno,%20te%20pagaremos%20mucho%20dinero.">
        <i class="fab fa-whatsapp"></i> Whatsapp
    </a>
    <a class="btn btn-secondary botonTelegram" target="_blank" href="https://t.me/WikelsonDiaz?text=Hola%20te%20contacto%20para%20un%20trabajo%20bueno,%20te%20pagaremos%20mucho%20dinero.">
        <i class="fab fa-telegram"></i> Telegram
    </a>
</div>
